$color_1:#EB5905;

.text-yellow{
    color: yellow;
}

.txt-c1{
    color: $color_1;
}

.bg_color1{
    background: $color_1;
}

/*screen resolution*/
$break-xsmall: 320px;
$break-medium: 768px;
$break-large: 1024px;
$break-Xlarge: 1250px;

// Small devices
@mixin sm {
    @media (min-width: #{$break-xsmall}) {
        @content;
    }
}
 
 // Medium devices
@mixin md {
    @media (min-width: #{$break-medium}) {
        @content;
    }
}
 
 // Large devices
@mixin lg {
    @media (min-width: #{$break-large}) {
        @content;
    }
}

// XLarge devices
 @mixin Xlg {
    @media (min-width: #{$break-Xlarge}) {
        @content;
    }
}

#logo { 
    @include sm { 
        width: 130px; 
        height: 100px;
    }
    @include md { 
        width: 300px; 
        height: 200px;
    }
    @include lg { 
        width: 350px; 
        height: 200px;
    }
}

footer{
    @include sm { font-size: 0.5rem; }
    @include md { font-size: 1rem; }
}

#bfooter{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#cntl_btns{
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
    button{
        margin-left: 15px;
        margin-right: 15px;
    }
}

#contact_icon{
    height: 10%;
    position: fixed;
    bottom: 80%;
    
    @include sm { left: 70%; }
    @include md { left: 80%; }
    @include lg { left: 85%; }
    @include Xlg {left: 87%; }
}

.btn-outline-warning {
    color:yellow;
    border-color: yellow;
}

.pointer {cursor: pointer;}

#policy{
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 15px;
}

.txt_center{
    margin: auto;
    text-align: center;
}