$color_1:#EB5905;

.text-yellow{
    color: yellow;
}

.txt-c1{
    color: $color_1;
}

.bg_color1{
    background: $color_1;
}

/*screen resolution*/
$break-xsmall: 320px;
$break-medium: 768px;
$break-large: 1024px;
$break-Xlarge: 1250px;

// Small devices
@mixin sm {
    @media (min-width: #{$break-xsmall}) {
        @content;
    }
 }
 
 // Medium devices
@mixin md {
    @media (min-width: #{$break-medium}) {
        @content;
    }
}
 
 // Large devices
@mixin lg {
    @media (min-width: #{$break-large}) {
        @content;
    }
}

// XLarge devices
 @mixin Xlg {
    @media (min-width: #{$break-Xlarge}) {
        @content;
    }
}

#logo {
    width: 350px;
}

#bfooter{
    position: fixed;
    bottom: 0;
    width: 100%;
}

#cntl_btns{
    display: flex;
    justify-content: center;
    button{
        margin-left: 15px;
        margin-right: 15px;
    }
}

#contact_icon{
    height: 10%;
    position: fixed;
    bottom: 80%;
    left: 87%;
    text-align: center;
}

.btn-outline-warning {
    color:yellow;
    border-color: yellow;
}

.pointer {cursor: pointer;}

#policy{
    background-color: white;
    width: 85%;
    margin: auto;
    padding: 15px;
}

