@import './common.scss';

@mixin displayRow{
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@mixin mainbackground {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

body{
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/1.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/1.png");
    @include mainbackground;  
}

#b1 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/1.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/1.jpg");
    @include mainbackground;
}

#b2 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/2.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/2.jpg");
    @include mainbackground;
}

#b3 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/3.jpg");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/3.jpg");
    @include mainbackground;
}

#b4 {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/4.png");
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/4.png");
    @include mainbackground;
}

#menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 200px;

    h2{
        color: $color_1; 
    }

    .r_menu{
        display: flex;
        flex-direction: row;

        h2{
            color: $color_1;
            margin-top: 15px;
            margin-right: 15px;
        }

        button{
            margin-top: 15px;
            margin-right: 15px;
            height: 36px;
        }
    }

    .dropdown-menu{
        background-color: yellow;
        :hover{
            background-color: $color_1;
        }
    }
}

#main {
    @include sm {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
            width: 200px;
            border-radius: 3px;
            margin-bottom: 50px;
        }  
    } 

    @include md {
        @include displayRow;
        margin-top: 150px;
        img {
            width: 200px;
            border-radius: 3px;
        }  
    } 

    @include lg {
        @include displayRow;
        margin-top: 200px;
        img {
            width: 300px;
            border-radius: 3px;
        }
        :hover{
            transform: scale(1.2, 1.2);
        }  
    } 
}


footer{
    *{
        margin-right: 5px;
     }
    color:yellow;  
}


//cabinet painting page
#msg{
    height: 450px;
    display: flex;
    justify-content:center;
    align-items:center;
    color: yellow;
    
}

#cabinet_pics{
    background-color: white;
    
}
#cabinet_footer{
    @include mainbackground;
}

.c1 {
    padding: 15px;

}


//kitchen
@mixin m1{
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

@mixin m2{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.selections{
    margin-top:6%;
    @include sm {
        @include m2;
        img {
            width: 300px;
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
            margin-bottom: 30px;
        }  
    } 
    @include lg {
        @include m1;
        img {
            width: 300px;
        }
    } 
}

#catalog{
    display: flex;
    margin-top:1%;
    @include displayRow;
    img{
        width: 20%;
    }  
}


#kitchen_mdg{
    color: white;
    margin: auto;
    h1{
        margin-top: 30px;
        text-align:center;
        font-size: 75px;
        span{
            color: yellow;
        }
    }
    
    h2{
        text-align:center;
        font-size: 45px;
        span {
            color: $color_1; 
            cursor: pointer;
        }
    }
}

.hbox{
    color: $color_1;
    text-align: center;
}

///

* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }

///////galery page////
.carousel-inner img {
    margin: auto;
}

///////////////// custom page //////////////
.dark{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.cust_block{
    padding-right: 5%;
    padding-left: 5%;
}

.ef:hover{
    transform: scale(1.2, 1.2);
}

.custom_main_block{
    display: flex;
    direction: row;
    justify-content: space-around;
}

.custom_bottom{
    
    .info_block{
        width:45%;
        img{
            width:100%;
        }
    }

    h1{
        background-color: black;
        color:white;
        text-align: center;
    }
} 