.text-yellow {
  color: yellow;
}

.txt-c1 {
  color: #EB5905;
}

.bg_color1 {
  background: #EB5905;
}

/*screen resolution*/
#logo {
  width: 350px;
}

#bfooter {
  position: fixed;
  bottom: 0;
  width: 100%;
}

#cntl_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#cntl_btns button {
  margin-left: 15px;
  margin-right: 15px;
}

#contact_icon {
  height: 15%;
  position: fixed;
  bottom: 80%;
  left: 87%;
  text-align: center;
}

.btn-outline-warning {
  color: yellow;
  border-color: yellow;
}

.pointer {
  cursor: pointer;
}

#policy {
  background-color: white;
  width: 85%;
  margin: auto;
  padding: 15px;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../picture/1.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/1.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#b1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../picture/bckg/1.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#b2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../picture/bckg/2.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#b3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../picture/bckg/3.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/3.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#b4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../picture/bckg/4.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../picture/bckg/4.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 200px;
}

#menu h2 {
  color: #EB5905;
}

#menu .r_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#menu .r_menu h2 {
  color: #EB5905;
  margin-top: 15px;
  margin-right: 15px;
}

#menu .r_menu button {
  margin-top: 15px;
  margin-right: 15px;
  height: 36px;
}

#menu .dropdown-menu {
  background-color: white;
}

#menu .dropdown-menu :hover {
  background-color: #EB5905;
}

@media (min-width: 320px) {
  #main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #main img {
    width: 200px;
    border-radius: 3px;
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  #main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 150px;
  }
  #main img {
    width: 200px;
    border-radius: 3px;
  }
}

@media (min-width: 1024px) {
  #main {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 150px;
  }
  #main img {
    width: 300px;
    border-radius: 3px;
  }
  #main :hover {
    -webkit-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
  }
}

footer {
  color: #EB5905;
}

footer * {
  margin-right: 5px;
}

#msg {
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: yellow;
}

#cabinet_pics {
  background-color: white;
}

#cabinet_footer {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.c1 {
  padding: 15px;
}

.selections {
  margin-top: 6%;
}

@media (min-width: 320px) {
  .selections {
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .selections img {
    width: 300px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    margin-bottom: 30px;
  }
}

@media (min-width: 1024px) {
  .selections {
    height: 80%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .selections img {
    width: 300px;
  }
}

#catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#catalog img {
  width: 20%;
}

#kitchen_mdg {
  color: white;
  margin: auto;
}

#kitchen_mdg h1 {
  margin-top: 30px;
  text-align: center;
  font-size: 75px;
}

#kitchen_mdg h1 span {
  color: yellow;
}

#kitchen_mdg h2 {
  text-align: center;
  font-size: 45px;
}

#kitchen_mdg h2 span {
  color: #EB5905;
  cursor: pointer;
}

.hbox {
  color: #EB5905;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.carousel-inner img {
  margin: auto;
}

.dark {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7)));
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.cust_block {
  padding-right: 5%;
  padding-left: 5%;
}

.ef:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.custom_main_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.custom_bottom {
  background: white;
}

.custom_bottom .info_block {
  width: 35%;
}

.custom_bottom .info_block img {
  width: 100%;
}

.custom_bottom h1 {
  background-color: black;
  color: white;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */